@import "./site.scss";
.space {
  padding-left: 15.6%;
  padding-right: 15.6%;
}
.header {
  &__bg {
    background-image: url(../images/Rectangle\ 3.png);
    background-size: cover;
    background-position: 15% 50%;
    padding-bottom: 2.25rem;
    &__information {
      text-align: center;
      margin-top: 9.38rem;
      .desc__first {
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        text-transform: uppercase;
        color: $txt__white;
      }
      h1 {
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
        color: $txt__blue;
        @include breakpoint(md) {
          font-size: 2.5rem;
        }
      }
      .desc__second {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: $txt__white;
        width: 56.7%;
        margin: auto;
      }
      a {
        display: block;
        width: fit-content;
        margin: 3rem auto;
        padding: 1rem 1.5rem;
        color: $txt__white;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        border: 2px solid var(--blue-color-100, #4f8ff0);
        background: var(--blue-color-100, #4f8ff0);
      }
    }
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  background-color: $background-color__txt;
  padding-top: 1.09rem;
  padding-bottom: 1.09rem;
  @include breakpoint(md) {
    flex-direction: column;
    align-items: center;
  }
  .tel__mail {
    display: flex;
    gap: 1.75rem;
    flex-wrap: wrap;
  }
  .gadget {
    display: flex;
    &__pic {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }
    a {
      color: $txt__white;
    }
  }
  @include breakpoint(lg) {
    .email {
      display: none;
    }
  }
  .call {
    color: $txt__white;
  }
}
.about__us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bgc-color;
  padding-top: 1.37rem;
  padding-bottom: 1.75rem;
  @include breakpoint(xxxl) {
    .list__item {
      display: none;
    }
    .menu {
      display: block;
    }
  }
}
.logo {
  &__title {
    color: $txt__blue;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: uppercase;
    @include breakpoint(md) {
      font-size: 1.25rem;
    }
  }
  &__desc {
    color: $txt__white;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    text-transform: lowercase;
    @include breakpoint(md) {
      font-size: 1.25rem;
    }
  }
}
.menu {
  display: none;
  color: #e6e6e6;
  width: 1.5rem;
  height: 1.5rem;
}

.list {
  &__item {
    display: flex;
    gap: 2rem;
    li {
      a {
        color: $txt__white;
      }
    }
  }
}

.header__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 12.62rem;
}

.header__slider {
  @include breakpoint(sm) {
    display: none;
  }
}

.line {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  &__one {
    border-left: 0.25rem solid #4f8ff0;
    height: 2.5rem;
  }
  &__two,
  &__three {
    border-left: 0.25rem solid #e6e6e6;
    height: 1.5rem;
  }
}
.fa-code {
  color: #e6e6e6;
}
