@import "./site.scss";

.legal__service {
  padding-left: 15.6%;
  padding-right: 15.6%;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include breakpoint(md) {
    padding-left: 4.5%;
    padding-right: 4.5%;
  }

  //   &__content {
  //     display: flex;
  //   }

  .legal__desc {
    color: $txt__black;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 1rem;
  }

  .one {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}

.content {
  display: flex;
  gap: 4rem;
  &__desc {
    width: 45rem;
  }
}

.btn__history {
  background-color: #4f8ff0;
  color: $txt__white;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  @include breakpoint(xl) {
    margin-top: 0.5rem;
  }
}

.btn__certificate {
  background-color: #e6e6e6;
  color: $txt__black;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 1.05rem */
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  margin-left: 1.5rem;
}

.books {
  width: 33.4375rem;
  height: 22.4375rem;
  @include breakpoint(xxxxl) {
    display: none;
  }
}

.color_txt {
  color: $txt__blue;
}
