@mixin breakpoint($point) {
  @if $point == sm {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 556px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $point == xxl {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == xxxl {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $point == xxxxl {
    @media (max-width: 1400px) {
      @content;
    }
  } @else {
    @warn 'Not a valid breakpoint name.';
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  @include breakpoint(xxl) {
    font-size: 14px;
  }

  @include breakpoint(lg) {
    font-size: 12px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

$txt__blue: #4F8FF0;
$txt__white: #FFFFFF;
$txt__black: #222222;


$background-color__txt: #181818;
$bgc-color:rgba(1, 1, 1, 0.76);